/* home.css */

/* Hero Section */
:root {
  --primary-blue: #0A192F;
  --black: #000000;
  --secondary-blue: #1E3A8A;
  --accent-red: #E63946;
  --accent-green: #06D6A0;
  --light-gray: #F8FAFC;
  --medium-gray: #E2E8F0;
  --dark-gray: #334155;
  --text-dark: #1E293B;
  --text-light: #64748B;
  --white: #FFFFFF;
  --orange : #ff6600;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 12px 32px rgba(0, 0, 0, 0.2);
}

.hero {
  background: linear-gradient(rgb(255, 255, 255), #FFFFFF);
  min-height: calc(60vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 4rem 1rem;     /* gap between "find vulna..." and the nav bar" */
}

.hero-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 3.2rem);
  margin-bottom: 1.5rem;
  color: var(--primary-blue);
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(20px);
  animation: slideInUp 0.8s ease-out forwards 0.2s;
}



.hero p {
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin-bottom: 2rem;
  color: var(--text-light);
  font-weight: 300;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(20px);
  animation: slideInUp 0.8s ease-out forwards 0.4s;
}

.hero-stats {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0;
}

/* === Highlights === */
.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,9fr));
  gap: 3rem;
  padding: 0rem 2rem;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.highlight {
  background-color: rgba(241, 241, 245, 0.6);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #f4f4f4;
  transition: transform 0.3s;
  font-size: 1.2rem;
}

.highlights h2{
  font-size: 1.9rem; /* smaller heading */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.highlights p {
  font-size: 0.95rem; /* smaller paragraph */
  color: #a39e9e; /* adjust for light theme; use #c9d1d9 in dark theme */
  line-height: 1.5;
}

.highlight:hover {
  transform: translateY(-5px);
}

.home-button {
  text-align: center;
  position: relative;
  padding: 2rem 2rem; 
}
.btn {
  display: inline-block;
  background: #ff6600;
  color: #fff;
  background: linear-gradient(135deg, var(--orange), var(--black));
  color: var(--white);
  padding: 1.3rem 2.9rem;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.05rem;
  /* transition: all .3s ease;
  box-shadow: 0 10px 25px rgba(255, 102, 0, .25); */
  opacity: 0;
  transform: translateY(20px);
  animation: slideInUp 0.8s ease-out forwards 0.6s;
}
.btn:hover {
  background: #e55a00;
  transform: translateY(-3px);
}